@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --bgc: #1F2937;
    --fc: white;
    --header-text-size : 24px;
    --links-size: 18px;
    --button-bgc: #3882F6;
    --quote-font-color : #E5E7EB;
    font-family: 'Roboto', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.outside-wrapper{
    background-color: var(--bgc);
}
.inside-wrapper{
    margin-right: 12vw ;
    margin-left: 12vw;
    height: 60vh;
    padding-top: 10px;
}
/* Header Section */
.header {
    display: flex;
    background-color: var(--bgc);
    color: var(--fc);
    height: 12vhpx;
    justify-content: flex-end;
}
.header-text {
    flex: 1;
    font-size: var(--header-text-size);
    margin: 10px;
    
}
.header-text h1{
    font-weight: 900;
    font-size: 24px;
}

.links-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  
}
.links-container div {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: 10px;
    font-size: var(--links-size);
    
}
.links-container a{
    color: var(--fc);
    text-decoration: none;
    
}

/* Hero Section */
.hero-paragraph button{
    margin-top: 1em;
    color: var(--fc);
    border-style: hidden;
    font-size: 18px;
    padding: 7px 1em;
    width: 120px;
    background-color: #3882F6;
    border-radius: 8px;
    
}
.upper-body {
    display: flex;
    justify-content: center;
    background-color: var(--bgc);
    color: var(--fc);
    height: 40vh;
    margin-top: 5vh;
}
.image-placeholder {
    flex: 1;
    background-color: gray;
    display: flex;
    height: 67%;
    width: 94%;
    opacity: 0.8;
}

.image-placeholder > h4 {
    flex: 1;
    align-self: center;
    text-align: center;
    color: white;
    font-size: 20px;
}
.img-wrapper{
    width: 100vw;
    flex: 1;
    
}
.hero-wrapper {
    margin-top: 4.5em;
    flex: 1;
    display: flex;
    width: 100%;
    justify-content: center;
}
.hero-text {
    flex: 1;
    display: flex;
    justify-content: center;
    width: 40%;
    
}
.hero-paragraph{
    margin: 10px;
    flex: 1;
    gap: 10px;
}
.hero-paragraph h2{
    margin-bottom: 10px;
    font-weight: 900;
    font-size: 48px;
}
.hero-paragraph p{
    width: fit-content;
    font-size: var(--links-size);
}
/* Card portion */
.lower-body h2{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin-bottom: 40px;
}
.lower-body{
    display: flex;
    flex-direction: column;
    margin: 2em;
    align-items: center;
}
.card-container{
    flex: 1;
    display: flex;
    width: 80vw;
    height: 40vh;
    justify-content: center;
    align-items: center;
}
card {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
    align-items: center;
    justify-content: center;
    max-width: 180px;
    gap: 20px;
}
.placeholder-sqaure{
    flex: 1;
    width: 180px;
    height: 180px;
    border-radius: 20px;
    border: 4px solid var(--button-bgc);
    margin: 20px;
}
.card p{
    text-align: center;
    margin: auto;
    opacity: .5;
    max-width: 180px;
}
/* quote portion */
.quote {
    display: flex;
    height: 30vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--quote-font-color);
}
.quote em{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    padding: 20px;
    max-width: 80vw;
}
.quote p{
    position: absolute;
    margin-bottom: 80px;
    transform: translateX(200%);
    align-self: flex-end;
    font-size: 24px;
    color: #1f2937;
    font-weight: bold;
}
/* Sign up blue thing */
.sign-up-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.sign-up{
    flex: 1;
    display: flex;
    max-width: 80%;
    height: 15vh;
    margin: 80px;
    background-color: var(--button-bgc);
    border-radius: 10px;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    color: var(--fc);
    padding: 20px;
}
.sign-up button{
    flex: 1;
    margin: 1em;
    color: var(--fc);
    border-style: solid;
    border-color: white;
    font-size: 18px;
    padding: 5px;
    max-width: 10%;
    background-color: #3882F6;
    border-radius: 8px;
}
.sign-up-text{
    text-decoration: none;
}
.sign-up-text h1{
    flex: 1;
    text-align: start;
}
.sign-up-text p{
    flex: 1;
    text-align: start;
}